:root {
    --black: #222;
    --white: #fff;
    --secondary_bg: #ffba00;
    --main_bg: #ff6c00;
    --lg: linear-gradient(90deg, var(--secondary_bg) 0%, var(--main_bg) 100%);
    --box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    --border: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

h1,
li,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: var(--black);
    font-weight: 500;
    line-height: 1.2!important;
}


/* top starts here  */

.main_top {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 1rem 2rem; */
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow);
    border-bottom: 1px solid var(--main_bg);
}

.main_top .left h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

.main_top .right button {
    padding: 1rem 1.5rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--main_bg);
    color: var(--main_bg);
    background: transparent;
    font-weight: 700;
}

.main_top .right button.add_product {
    background: linear-gradient(45deg, var(--main_bg), var(--secondary_bg));
    color: var(--white);
}


/* main_body state here  */

.main_body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main_body>.left {
    width: 80%;
    padding: 2rem;
    border-right: 1px solid var(--main_bg);
}

.main_body .left h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.main_body .left .category_tabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background: red; */
}

.main_body .left .category_tabs .row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main_body .left .category_tabs .row h4 {
    padding: .7rem;
    width: auto;
    margin-right: 1rem;
    transition: .3s all ease-in;
    cursor: pointer;
}

.main_body .left .category_tabs .row h4:hover {
    border-bottom: 1px solid var(--main_bg);
    color: var(--main_bg);
}

.main_body .left .category_tabs .row .active_tab {
    border-bottom: 1px solid var(--main_bg);
    color: var(--main_bg);
}

.main_body .left .category_tabs .projects_gallery {
    display: none;
    width: 100%;
}

.main_body .left .category_tabs .active_category {
    width: 100%;
    margin: 2rem 0;
    /* margin: 0 2rem; */
    display: grid;
    grid-gap: 4rem;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    /* background: red; */
}

.projects_gallery .each_project {
    width: 100%;
    height: 350px;
    background: #F9F8FD;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
}

.projects_gallery .each_project:hover {
    box-shadow: none;
}

.projects_gallery .each_project .top {
    flex-basis: 80%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    height: 70%;
}

.projects_gallery .each_project .bottom {
    display: flex;
    padding-top: 1rem;
    padding-right: .4rem;
}

.projects_gallery .each_project .bottom .left {
    flex-basis: 80%;
}

.projects_gallery .each_project .bottom .right {
    flex-basis: 20%;
    display: flex;
    /* justify-content: flex-end; */
    text-align: right;
    align-items: center;
}

.projects_gallery .each_project .bottom .right i {
    color: var(--main_bg);
    font-size: 1.5rem;
}

.projects_gallery .each_project .top img {
    width: 100%;
    height: 100%;
}

.projects_gallery .each_project .bottom .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.projects_gallery .each_project .bottom .left .col_2 {
    margin-left: 1rem;
}

.projects_gallery .each_project .bottom .left .col_2 span {
    color: var(--black);
    font-size: 1.3rem;
    font-weight: 800;
}


/* main_body right starts here  */


/* .main_body .space {
    width: 18%;
} */

.main_body>.right {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #F9F8FD;
    padding: 1rem 0;
    position: relative;
    margin-top: 4rem;
}

.main_body>.right .abs {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    left: 80%;
    font-weight: 800;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: var(--white);
}

.main_body>.right h4 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.main_body>.right .orders h5 {
    transition: .3s all ease-in;
    cursor: pointer;
}

.main_body>.right .orders h5:hover {
    background: var(--white);
}

.main_body>.right .orders {
    width: 100%;
    display: flex;
    /* background: red; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main_body>.right .orders h5 {
    width: 100%;
    padding: 1rem;
}

.main_body>.right .orders span {
    margin-left: .5rem;
    color: var(--main_bg);
}


/* add_category starts here  */

.add_cat {
    position: fixed;
    top: 100%;
    left: 0;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    font-weight: 800;
    transition: .5s all ease-in-out;
}

.add_category {
    top: 0;
}

.add_category h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.add_category .input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_category .input input {
    padding: 1rem 2rem;
    outline: none;
    border-radius: 200px;
    border: 1px solid var(--main_bg);
}

.add_category .input button {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    margin-left: 1rem;
    border-radius: 100px;
    background: var(--lg);
    color: var(--white);
    font-weight: 700;
}


/* displa_add_product starts here  */

.add_produvt_modal {
    position: fixed;
    top: 100%;
    left: 0;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    font-weight: 800;
    transition: .5s all ease-in-out;
}

.displa_add_product {
    top: 0;
}

.add_produvt_modal h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.add_produvt_modal .form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.add_produvt_modal .form>div {
    margin-bottom: 1.2rem;
    width: 100%;
}

.add_produvt_modal .form h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .3rem;
}

.add_produvt_modal .form textarea {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    padding: .3rem;
    resize: none;
    border-radius: 10px;
    border: 1px solid var(--main_bg);
}

.add_produvt_modal .form input {
    width: 100% !important;
    padding: .6rem 2rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--main_bg);
}

.add_produvt_modal .form .proce_category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_produvt_modal .form .proce_category .price {
    width: 45%;
}

.add_produvt_modal .form .proce_category .ccategory {
    width: 45%;
}

.add_produvt_modal .form .proce_category .ccategory h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .3rem;
}

.add_produvt_modal .form .proce_category .ccategory select {
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid var(--main_bg);
    outline: none;
    border-radius: 10px;
}

.add_produvt_modal .form .description {
    width: 100%;
}

.add_produvt_modal .form .images span {
    font-size: .8rem;
    font-weight: 500;
    margin-left: .3rem;
}

.add_produvt_modal .form .images input {
    display: none;
}

.add_produvt_modal .form .images {
    width: 100%;
    /* background: red; */
}

.add_product_button {
    padding: 1rem 2rem;
    outline: none;
    width: 100%;
    border: none;
    border-radius: 100px;
    background: var(--lg);
    color: var(--white);
    font-weight: 700;
}

.add_produvt_modal .form .images h5 {
    margin-bottom: 1rem;
}

.add_produvt_modal .form .images .label {
    cursor: pointer;
    position: relative;
    /* width: 200px !important; */
    padding: .5rem 2rem;
    border-radius: 10px;
    background: var(--white);
    border: 1px solid var(--main_bg);
}

.bell {
    display: none;
}

.bottom_nav {
    display: none;
}

.main_body .left .category_tabs .row {
    width: 90%;
    overflow-x: scroll;
}


/* responsiveness strts here  */

@media screen and (max-width: 680px) {
    .main_top .left h1 {
        font-size: 1.2rem;
    }
    .main_top .right button {
        padding: .8rem 1rem;
    }
    .bell {
        display: block;
        position: absolute;
        top: 10%;
        left: 80%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main_bg);
        font-size: 1.5rem;
        border-radius: 50%;
        border: 1px solid var(--main_bg);
        background: var(--white);
    }
    .main_body .left {
        width: 100%;
    }
    .main_body>.right {
        position: fixed;
        top: 10%;
        left: 100%;
        width: 50%;
        transition: .5s all ease-in-out;
        display: none;
    }
    .slide_notify {
        display: block;
        left: 50% !important;
        transition: .5s all ease-in-out;
        box-shadow: var(--box-shadow);
        border: 1px solid var(--main_bg);
        border-radius: 10px;
    }
}

@media screen and (max-width: 680px) {
    .main_top .right {
        display: none;
    }
    .bottom_nav {
        display: flex !important;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        /* transform: translate(-50%, -50%); */
        background: var(--white) !important;
        border-top: 1px solid var(--main_bg);
        border-radius: 10px;
        padding: 1rem .5rem;
        z-index: 10000;
    }
    .bottom_nav .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: var(--white);
        color: var(--main_bg);
        width: 25%;
        padding: .5rem 1rem;
        border-radius: 100px;
        transition: .5s all ease-in;
    }
    .bottom_nav .row p {
        display: none;
    }
    .bottom_nav .active_nav_link {
        width: 60%;
        background: var(--lg);
        color: var(--white);
    }
    .bottom_nav .active_nav_link p {
        display: block;
    }
    .main_body>.right {
        top: 10%;
        left: 50%;
        width: 50%;
        transition: .5s all ease-in-out;
    }
    .slide_notify {
        display: block !important;
        left: 0 !important;
        transition: .5s all ease-in-out;
        box-shadow: var(--box-shadow);
        border: 1px solid var(--main_bg);
        border-radius: 10px;
    }
}

@media screen and (max-width: 390px) {
    .main_body>.right {
        left: 100%;
        width: 90%;
    }
    .slide_notify {
        left: 0 !important;
    }
}

@media screen and (max-width: 503px) {
    .add_produvt_modal .form {
        width: 90%;
    }
    .add_product_button {
        margin-top: 2rem;
    }
}