:root {
    --black: #222;
    --white: #fff;
    --secondary_bg: #ffba00;
    --main_bg: #ff6c00;
    --lg: linear-gradient(90deg, var(--secondary_bg) 0%, var(--main_bg) 100%);
    --box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    --border: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

h1,
li,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: var(--black);
    font-weight: 500;
    line-height: 1.2!important;
}

h3 {
    /* width: 100%; */
    font-size: 2.4rem;
    margin: 3rem auto;
    text-align: center;
    font-weight: 700;
    position: relative;
}

h3::before {
    position: absolute;
    content: '';
    width: 10%;
    height: 3px;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--lg);
}

ul {
    list-style: none;
}

nav {
    width: 80vw;
    margin: 5vh auto;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: var(--box-shadow);
    position: sticky !important;
    top: 0 !important;
    z-index: 100;
}

nav .right {
    width: 40%;
}

nav .right .active_nav {
    color: var(--secondary_bg);
}

nav .right ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li:hover {
    color: var(--secondary_bg);
    cursor: pointer;
}

nav .right ul li.icon {
    margin-left: 1rem;
}


/* product starts here  */

.product {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding-right: 4rem;
}

.product .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .left .left {
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product .left .left img {
    width: 90px;
    height: 90px;
}

.product .left .right img {
    width: 300px;
    height: 300px;
}

.product .left .right {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active_image {
    border: 1px solid var(--main_bg);
    border-radius: 5px;
    padding: .5rem;
}

.product .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    /* padding */
}

.product .right h2 {
    font-size: 2rem;
    font-family: "poppins";
}

.product .right h4 {
    font-size: 1.7rem;
    color: var(--main_bg);
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.product .right .description {
    line-height: 2rem;
}

.product .right button {
    margin-top: 1rem;
    padding: 1rem 3em;
    /* background: var(--main_bg); */
    background: linear-gradient(45deg, var(--main_bg), var(--secondary_bg));
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 200px;
    transition: .3s all ease-in;
    border: 3px solid transparent;
}

.product .right button i {
    margin-left: 1rem;
}


/* categories starts here  */

.categories {
    margin: 5rem auto;
    width: 80%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.categories .row {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--border);
}

.categories .row:hover .top img {
    transform: scale(1.2);
}

.categories .row .top {
    /* background: blue; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories .row .top img {
    width: 80%;
    height: 80%;
    transition: .3s all ease-in;
}

.categories .row .bottom {
    text-align: center;
    padding: .5rem 0 1rem 0;
}

.categories .row .bottom h5 {
    font-size: 1.2rem;
    font-weight: 600;
}


/* each project */

.projects_gallery {
    margin: 3rem 2rem;
    display: grid;
    grid-gap: 4rem;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.projects_gallery .each_project {
    width: 100%;
    padding-bottom: 1rem;
    height: 350px;
    background: #F9F8FD;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: column;
}

.projects_gallery .each_project:hover {
    box-shadow: none;
}

.projects_gallery .each_project .top {
    flex-basis: 80%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    height: 70%;
}

.projects_gallery .each_project .bottom {
    display: flex;
    padding-top: 1rem;
    padding-right: .4rem;
}

.projects_gallery .each_project .bottom .left {
    flex-basis: 80%;
}

.projects_gallery .each_project .bottom .right {
    flex-basis: 20%;
    display: flex;
    /* justify-content: flex-end; */
    text-align: right;
    align-items: center;
}

.projects_gallery .each_project .bottom .right i {
    color: var(--main_bg);
    font-size: 1.5rem;
}

.projects_gallery .each_project .top img {
    width: 100%;
    height: 100%;
}

.projects_gallery .each_project .bottom .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.projects_gallery .each_project .bottom .left .col_2 {
    margin-left: 1rem;
}

.projects_gallery .each_project .bottom .left .col_2 span {
    color: var(--black);
    font-size: 1.3rem;
    font-weight: 800;
}

.see_all {
    margin: 2rem auto;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 200px;
    display: flex;
    background: var(--white);
    border: 1px solid transparent;
    border-color: var(--main_bg);
    /* border-color: red; */
}

.see_all i {
    color: var(--main_bg);
    margin-left: 1rem;
}


/* footer starts here  */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #2d1e58;
    color: var(--white) !important;
}

footer .top {
    width: 60%;
    margin-bottom: 2rem;
}

footer .top ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .top ul li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--white) !important;
}

footer .top ul li i {
    margin-left: 1rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--main_bg);
    border: 1px solid var(--main_bg);
}

footer .top .contact {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .top .contact h4 {
    color: var(--white);
    margin: 1rem;
}

footer .top .contact .input {
    width: 100%;
    display: flex;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}

footer .top .contact .input input {
    padding: .6rem 2rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--main_bg);
    margin-right: 1rem;
}

footer .top .contact .input button {
    padding: .45rem 2rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--main_bg);
    color: var(--white);
    background: var(--lg);
    font-weight: 800;
}

footer .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-bottom: 0;
    border-top: 1px solid var(--main_bg);
}

.bottom_nav {
    display: none;
}

.nav_bag {
    display: none;
}


/* responsiveness starts here  */

@media screen and (max-width: 650px) {
    .product {
        flex-direction: column;
    }
    .product .left {
        width: 100%;
    }
    .product .right {
        width: 100%;
    }
}

@media screen and (max-width: 920px) {
    .product .left .right img {
        width: 170px;
        height: 250px;
    }
}

@media screen and (max-width: 734px) {
    .categories {
        flex-direction: column;
    }
    footer {
        padding-bottom: 6rem;
    }
    footer .top {
        width: 100%;
    }
    footer .top ul {
        flex-direction: column;
    }
    footer .top ul li {
        width: 100%;
        margin-bottom: .5rem;
    }
}

@media screen and (max-width: 780px) {
    nav .right ul {
        display: none;
    }
    nav .right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    nav .right .nav_bag {
        display: block;
    }
    .bottom_nav {
        display: flex !important;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        /* transform: translate(-50%, -50%); */
        background: var(--white) !important;
        border-top: 1px solid var(--main_bg);
        border-radius: 10px;
        padding: 1rem .5rem;
        z-index: 10000;
    }
    .bottom_nav .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: var(--white);
        color: var(--main_bg);
        width: 25%;
        padding: .5rem 1rem;
        border-radius: 100px;
    }
    .bottom_nav .row p {
        display: none;
    }
    .bottom_nav .row:first-child {
        width: 60%;
        background: var(--lg);
        color: var(--white);
    }
    .bottom_nav .row:first-child p {
        display: block;
    }
}